.container {
    background-color: #ebf2cb;
}
.card-body .btn {
    background-color: #677916;
}
.card-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 300;
   font-style: bold;
}