/* Basic reset and styling specifically for the login page */
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  background-color: #f5f5f5;
  /* display: flex;
  padding-left: 200px; */
}

.login-box {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:focus {
  border-color: #698406;
  outline: none; /* Remove default focus outline */
}

.login-button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #698406;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #698406;
}

.signup-link {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.signup-link a {
  color: #698406;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
