.scheme-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .form-header {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    cursor: not-allowed;
  }
  .emailinput{
    cursor: not-allowed;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .document-input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .document-input-group input[type="text"] {
    width: 65%;
  }
  
  .document-input-group input[type="file"] {
    width: 30%;
  }
  
  .add-document-btn, .submit-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #6a8d09;
    margin-top: 15px;
  }
  
  .add-document-btn:hover, .submit-btn:hover {
    background-color: #62820a;
  }
  
  .error-message {
    color: red;
    margin-bottom: 20px;
  }
  .buttons{
    display: flex;
    width: 15vw;
    margin: 7px auto;
  }
  .form1{
    
    width: 60vw;
    margin: 10px auto;
  }