.user-schemes-container {
    padding: 20px;
    background-color: #102f4d;
  }
  
  .schemes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  
  .scheme-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .scheme-card h3 {
    margin: 0 0 10px 0;
    color: #964734;
  }
  