/* navbar.css */

.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 0 10px 0 rgba(17, 16, 16, 0.3);
  width: 100%;
  position: fixed; /* Fix header at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure header is above other content */
}
.logo #emblem{
  height: 65px;
  width: auto;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 10px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: rgb(8, 7, 7);
  text-decoration: none;
  padding: 10px;
  font-size: large;
}



.btn {
  background-color: #0d2f19;
  color: #ffffff;
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 12px;
  font-size: large;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.btn:hover {
  color: rgb(34, 167, 71);
}

/* Responsive Styles */
@media (max-width: 568px) {
  .navbar-content {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .nav-links ul {
    display: block;
    text-align: center;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .btn {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 25px; /* Adjust logo size for smaller screens */
    height: 20px;
  }

  .btn {
    font-size: medium; /* Adjust button font size for smaller screens */
  }
}
